nogit.txt
oh_my.md
obj/cuddly-giggle.csproj.nuget.dgspec.json
obj/cuddly-giggle.csproj.nuget.g.props
obj/cuddly-giggle.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/cuddly-giggle.AssemblyInfo.cs
obj/Debug/net7.0/cuddly-giggle.AssemblyInfoInputs.cache
obj/Debug/net7.0/cuddly-giggle.assets.cache
obj/Debug/net7.0/cuddly-giggle.csproj.AssemblyReference.cache
obj/Debug/net7.0/cuddly-giggle.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/cuddly-giggle.csproj.FileListAbsolute.txt
obj/Debug/net7.0/cuddly-giggle.dll
obj/Debug/net7.0/cuddly-giggle.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/cuddly-giggle.genruntimeconfig.cache
obj/Debug/net7.0/cuddly-giggle.GlobalUsings.g.cs
obj/Debug/net7.0/cuddly-giggle.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/cuddly-giggle.pdb
obj/Debug/net7.0/cuddly-giggle.RazorAssemblyInfo.cache
obj/Debug/net7.0/cuddly-giggle.RazorAssemblyInfo.cs
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/ref/cuddly-giggle.dll
obj/Debug/net7.0/refint/cuddly-giggle.dll
obj/Debug/net7.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net7.0/scopedcss/bundle/cuddly-giggle.styles.css
obj/Debug/net7.0/scopedcss/projectbundle/cuddly-giggle.bundle.scp.css
obj/Debug/net7.0/staticwebassets/msbuild.build.cuddly-giggle.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.cuddly-giggle.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.cuddly-giggle.props
obj/Debug/net7.0/staticwebassets/msbuild.cuddly-giggle.Microsoft.AspNetCore.StaticWebAssets.props
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/cuddly-giggle.deps.json
bin/Debug/net7.0/cuddly-giggle.dll
bin/Debug/net7.0/cuddly-giggle.exe
bin/Debug/net7.0/cuddly-giggle.pdb
bin/Debug/net7.0/cuddly-giggle.runtimeconfig.json
bin/Debug/net7.0/cuddly-giggle.staticwebassets.runtime.json
